<%= form_for(@presupuesto) do |f| %>
  <% if @presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

      <ul>
      <% @presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
