
<p id="notice"><%= notice %></p>

<h1>Presupuesto</h1>

<td class="btn-group-vertical">
  <table class="table table-striped table-hover ",class="panel panel-primary">
  <div class="panel panel-primary">
  <thead>
    <tr>
      <th>  Imagen </th>
      <th>  Nombre</th>
      <th>  Cantidad</th>
      <th>  Descripcion</th>
      <th>  Precio</th>
      <th>  Sub Total</th>
     
    </tr>
</td>
  </thead>
</div>
  <tbody>
    
  <% @presupuesto.detallepresupuestos.each do |detalle| %>
     
      <tr>
      <td><%= image_tag detalle.producto.foto, class:"", height: 80  %></td>
        <td><%= detalle.producto.nombre %></td>
       
     
        <td><%= detalle.producto.descripcion%> </td>
        <td><%= detalle.producto.precio %></td>
        <td><%= subtotal = detalle.producto.precio+detalle.producto.precio %></td>
        <td><p><%= link_to 'Eliminar' , detalle, method: :delete, data:{ confirm: 'Estas seguro de borrar '}%></p></td>
    <% end %>
  </tbody>
</table>
<br>
