<%= form_for(@detallepresupuesto) do |f| %>
  <% if @detallepresupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detallepresupuesto.errors.count, "error") %> prohibited this detallepresupuesto from being saved:</h2>

      <ul>
      <% @detallepresupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
