<p id="notice"><%= notice %></p>

<h1>
<span class="label label-primary">Marcas</span>
</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan=""></th>
    
  </thead>
    </tr>

  <tbody>
    <% @marcas.each do |marca| %>
      <tr>
        <td><%= marca.nombre %></td>

        <td class="btn-group"><%= link_to glyph(:eye_open) + ' Ver', marca, class: 'btn btn-primary btn-xs' %>
          <%= link_to glyph(:edit) + ' Editar', edit_marca_path(marca), class: 'btn btn-warning btn-xs' %>
          <%= link_to glyph(:trash) +' Borrar', marca, method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Marca', new_marca_path, class: "glyphicon glyphicon-plus-sign" %>
