<%= form_for(@categoria, remote: true) do |f| %>

            <% if @categoria.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

                <ul><% @categoria.errors.full_messages.each do |message| %>
                      
                      <li><%= message %></li>
                      <% end %>
                </ul>
              </div>
            <% end %>

        <div class="form-group">
          <div class="form-group">
            <%= f.text_field :nombre, class: "form-control input-lg", placeholder: "Nombre de la Categoria" %>
          </div>
      
          <div class="modal-footer">
            <%= f.submit "Guardar Categoria", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
<% end %>