<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for(@categoria, remote: true) do |f| %>

            <% if @categoria.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

                <ul>
                <% @categoria.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

        <div class="modal-body">
          <div class="form-group">
            <%= f.text_field :nombre, class: "form-control input-lg", placeholder: "Nombre de la Categoria" %>
          </div>
      
            <div class="modal-footer">
                    <%= f.submit "Guardar Categoria", class: "btn btn-primary btn-lg btn-block" %>
            </div>
              <% end %>
</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
