<%= form_for(@carrito) do |f| %>
  <% if @carrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrito.errors.count, "error") %> prohibited this carrito from being saved:</h2>

      <ul>
      <% @carrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  >
  <div class="actions">
    <%= f.add_nested_fields_link :detalles, glyph(:plus_sign) + '  Agregar', class: 'btn btn-primary btn-sm' %>
    <%= f.submit %>
  </div>


  <%= f.nested_fields_for :detalles do |ff| %>
   <%= ff.hidden_field :carrito_id %>


  <div class="field">
    <%= ff.label :producto_id %><br>
    <%= ff.collection_select(:producto_id, Producto.all, :id, :nombre, {prompt: true}, {:class=>'form-control input-sm'}) %>
  </div>

  <div class="field">
    <%= ff.label :cantidad %><br>
    <%= ff.number_field :cantidad %>
  </div>
  <% end %>
<% end %>
