


<p id="notice"><%= notice %></p>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= image_tag producto.imagen, height: 80  %></td>
        <td>
          <% if producto.marca %>
              <%= producto.marca.nombre %>
          <%end%>
       </td>
        <td>
            <% if producto.categoria %>
                <%= producto.categoria.nombre %>
            <%end%>
        </td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Carrito', new_carrito_path %>
