


<p id="notice"><%= notice %></p>

<h1>Listing Carritos</h1>

<table class="table table-striped table-hover ">

  <tbody>
    <div class="col-sm-3 col-md-4">
  
      <%=image_tag(producto.imagen.url) %>
      <div class="caption">
        <h3><%= producto.nombre %></h3>
        <p><%= producto.descripcion %></p>
        <p><a href="#" class="btn btn-primary" role="button">Me Gusta</a> <a href="#" class="btn btn-default" role="button">Ya no me gusta</a></p>
        <%= link_to 'Agregar', agregar_producto_path(producto), method: "put", class:"btn btn-primary" %>
      </div>

  </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Carrito', new_carrito_path %>
