


<p id="notice"><%= notice %></p>

<h1>Listing Carritos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carritos.each do |carrito| %>
      <tr>
        <td><%= carrito.cliente_id %></td>
        <td><%= carrito.total %></td>
        <td class="btn-group"><%= link_to glyph(:eye_open) + ' Ver', carrito, class: 'btn btn-primary btn-sm'  %>
        <%= link_to  glyph(:edit) +  ' Editar', edit_carrito_path(carrito), class: 'btn btn-warning btn-sm' %>
        <%= link_to glyph(:trash) + 'borrar', carrito, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Carrito', new_carrito_path %>
