<p id="notice"><%= notice %></p>

<h1>Productos</h1>
<td class="btn-group-vertical">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>  Imagen </th>
      <th>  Marca</th>
      <th>  Categoria</th>
      <th>  Nombre</th>
      <th>  Descripcion</th>
      <th>  Precio</th>
      <th colspan="3"></th>
    </tr>
</td>
  </thead>
</div>
<div class="col-sm-">
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= image_tag(producto.imagen)  %></td><class: 'btn btn-danger '>
        <td><%= producto.marca_id %></td>
        <td><%= producto.categoria_id %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
<sdiv>


        <td class="btn-group"><%= link_to glyph(:eye_open) + ' Ver', producto, class: 'btn btn-primary btn-large' %>
          <%= link_to glyph(:edit) + ' Editar', edit_producto_path(producto), class: 'btn btn-success' %>
          <%= link_to glyph(:trash) +' Borrar', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ' %>
        </td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path,  class: 'glyphicon glyphicon-shopping-cart '  %>
