<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>  Marca</th>
      <th>  Categoria</th>
      <th>  Nombre</th>
      <th>  Descripcion</th>
      <th>  Imagen</th>
      <th>  Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.marca_id %></td>
        <td><%= producto.categoria_id %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.imagen %></td>
        <td><%= producto.precio %></td>



        <td class="btn-group"><%= link_to glyph(:eye_open) + ' Ver', producto, class: 'btn btn-primary btn-sm' %>
          <%= link_to glyph(:edit) + ' Editar', edit_producto_path(producto), class: 'btn btn-warning btn-sm' %>
          <%= link_to glyph(:trash) +' Borrar', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
