<p id="notice"><%= notice %></p>

<h1>
<span class="label label-primary">Productos</span>
</h1>
<td class="btn-group-vertical">
  <table class="table table-striped table-hover ",class="panel panel-primary">
  <div class="panel panel-primary">
  <thead>
    <tr>
      <th>  Imagen </th>
      <th>  Categoria</th>
      <th>  Nombre</th>
      <th>  Descripcion</th>
      <th>  Precio</th>
      <th colspan="3"></th>
    </tr>
</td>
  </thead>
</div>
  <tbody>
    
    <% @productos.each do |producto| %>
      <tr>
       
        <td><%= image_tag producto.foto, class:"", height: 80  %></td>
        <td><%= producto.categoria.nombre %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion%> </td>
        <td><%= producto.precio %></td>
<div>


        <td class="btn-group"><%= link_to glyph(:eye_open) + ' Ver', producto, class: 'btn btn-primary btn-xs' %>
          <%= link_to glyph(:edit) + ' Editar', edit_producto_path(producto), class: 'btn btn-success btn-xs' %>

          <%= link_to glyph(:trash) +' Borrar', producto, method: :delete, data: { confirm: 'estas seguro que desea borrar?' }, class: 'btn btn-danger btn-xs' %>
           <%= link_to 'borrar' , producto, method: :delete, data:{ confirm: 'Estas seguro de borrar ' }, class:"btn btn-danger btn-xs" %>
          
        </td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_producto_path,  class: 'glyphicon glyphicon-shopping-cart '  %>
